name: Release Build

on: push

env:
  SOLUTION_PATH: Source\Pe.Installer.sln
  ASSEMBLY_INFO_PATH: Source\Pe.Installer\Properties\AssemblyInfo.cs
  OUTPUT_PATH: Source/Pe.Installer/bin/x86/Release/Pe.Installer.exe
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:

  build:

    runs-on: windows-2022

    steps:
      - name: <Checkout> Repository
        uses: actions/checkout@v3

      - name: <Cache> Nuget
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-


      - name: <Add> msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1

      - name: <Restore> Application
        shell: cmd
        run: |
          nuget restore ${{ env.SOLUTION_PATH }}

      - name: <Build> Application
        shell: cmd
        run: |
          msbuild ${{ env.SOLUTION_PATH }} /t:Build /p:Configuration=Release
          tree

      - name: <Artifact> Application
        uses: actions/upload-artifact@v3
        with:
          name: Pe.Installer
          path: ${{ env.OUTPUT_PATH }}

  deploy:

    needs: build

    #if: github.ref == 'refs/heads/master'

    runs-on: windows-2022

    steps:
      - name: <Download> Application
        uses: actions/download-artifact@v3
        with:
          name: Pe.Installer
          path: Pe.Installer

      - name: <Read> Version
        id: version
        shell: pwsh
        run: |
          tree /F
          $version = (Get-Item Pe.Installer\Pe.Installer.exe).VersionInfo.Version
          Write-Output "::set-output name=dot::$version"
          Write-Output $version

      - name: <Delete> TEST Tag
        if: github.ref != 'refs/heads/master'
        continue-on-error: true
        uses: dev-drprasad/delete-tag-and-release@v0.2.0
        with:
          delete_release: true
          tag_name: ${{ steps.version.outputs.dot }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: <Create> Release
        uses: actions/github-script@v6
        with:
          script: |
            const releaseId = await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{ steps.version.outputs.dot }}",
              sha: context.sha
            })

      - name: <Upload> Application
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: Pe.Installer/Pe.Installer.exe
          file_glob: false
          tag: ${{ steps.version.outputs.dot }}
